.partner {

  .content {

    .parnter__avatar {
      margin-left: 87px;
      margin-right: 87px;
    }

    .partner__name {
      font-size: 14px;
      line-height: 18px;
      margin-top: 0;
    }

    .partner__bio {
      margin-left: 32px;
      margin-right: 32px;
      color: #666666;
    }
  }

  @media (min-width: 642px ) {
    .content {
      .partner__bio {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
.partner__avatar {
  margin-bottom: 17px;
}
